.card-table {
  background: #fff;
  padding: 10px;
  margin: 10px 10px auto;
  width:  200px;
  border-radius: 15px;
  box-shadow:  0 0 10px rgb(0, 0, 0, .5);
  cursor: pointer;
}

.img-table {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

