#list {
    list-style: none;
    font-size: smaller;
}

#status{
    font-size: 13px;
    color: #EE5622;
    font-weight: bold;
}

#circular{
    margin: 5px;
}

#card01{
    margin-top: 10px;
}

#button-modal{
    border: none;
    background-color: #FFFFFF;
}

#button-modal:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}